<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Wheely</title>
  <meta name="description" content="Content for a Driving School">
  <meta name="author" content="Diana Moreno">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
  <header>
    <nav role="navigation" class='navbar'>
      <div class="navbar__menu-toggle">
        <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
        <input type='checkbox' class="navbar__checkbox" />
        <span class='navbar__line'></span>
        <span class='navbar__line'></span>
        <span class='navbar__line'></span>
        <h1 class='navbar__title'>Wheely</h1>
        <ul class="navbar__menu">
          <li class='navbar__menu-item'>Home</li>
          <li class='navbar__menu-item'>Booking</li>
          <li class='navbar__menu-item'>Reservations</li>
          <li class='navbar__menu-item'>Progression</li>
          <li class='navbar__menu-item'>Credits</li>
        </ul>
      </div>
    </nav>
    <div class='greeting'>
      <i class="material-icons greeting__rol-icon">school</i>
      <h3 class='greeting__name'>Diana Moreno</h3>
    </div>
    <h3 class='title'>Booking</h3>
  </header>
  <section class='booking'>
    <div>
      <h3>Do you want to book a practice?</h3>
      <p>You can select the instructor you prefer and the day and time that suits you best!</p>
      <p>Every practice costs 1 credit.</p>
    </div>
    <form action="">
     <select name="role">
        <option value="">-- instructor --</option>
        <option value="instructor1">Aitor Pedos</option>
        <option value="instructor2">Aitor Tilla</option>
        <option value="instructor3">Aitor Menta</option>
      </select>
     <select name="date">
        <option value="">-- date --</option>
        <option value="date1">25/11/2019</option>
        <option value="date2">26/11/2019</option>
        <option value="date3">27/11/2019</option>
        <option value="date1">28/11/2019</option>
        <option value="date2">29/11/2019</option>
        <option value="date3">30/11/2019</option>
        <option value="date1">31/11/2019</option>
        <option value="date2">01/12/2019</option>
        <option value="date3">02/12/2019</option>
      </select>
     <select name="date">
        <option value="">-- time --</option>
        <option value="">17:00</option>
        <option value="">18:00</option>
        <option value="">19:00</option>
        <option value="">20:00</option>
        <option value="">21:00</option>
        <option value="">22:00</option>
        <option value="">23:00</option>
      </select>
      <button>Confirm</button>
    </form>
  </section>
</body>

</html>
