<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Wheely</title>
  <meta name="description" content="Content for a Driving School">
  <meta name="author" content="Diana Moreno">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
  <section class='login'>
    <header class='login__container'>
      <img class='login__logo' src="./images/wheel.png" alt="">
      <h1 class='login__title'>Wheely</h1>
    </header>

    <main  class='login__container'>
      <p class='login__subtitle'>Instructors and students area</p>
      <form action="" class='login__form'>"
        <input type="text" name="email" placeholder="email" class='login__form-item'>
        <input type="text" name="password" placeholder="password" class='login__form-item'>
        <button class='login__button'>Enter</button>
      </form>
    </main>
  </section>
</body>

</html>
