<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Wheely</title>
  <meta name="description" content="Content for a Driving School">
  <meta name="author" content="Diana Moreno">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
  <header>
    <nav role="navigation" class='navbar'>
      <div class="navbar__menu-toggle">
        <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
        <input type='checkbox' class="navbar__checkbox" />
        <span class='navbar__line'></span>
        <span class='navbar__line'></span>
        <span class='navbar__line'></span>
        <h1 class='navbar__title'>Wheely</h1>
        <ul class="navbar__menu">
          <li class='navbar__menu-item'>New user</li>
          <li class='navbar__menu-item'>Users</li>
        </ul>
      </div>
    </nav>
    <div class='greeting'>
      <i class="material-icons greeting__rol-icon">supervisor_account</i>
      <h3 class='greeting__name'>Luis Garcia</h3>
    </div>
    <h3 class='title'>Schedule</h3>
  </header>
  <section class='schedule'>
    <p>Here you can edit the schedule of: </p>
    <p><b>Paco García</b></p>
    <div class='timetable'>
      <div class="week-names">
        <p>M</p>
        <p>T</p>
        <p>W</p>
        <p>T</p>
        <p>F</p>
        <p>S</p>
        <p>S</p>
      </div>
      <div class="time-interval">
        <p>08:00</p>
        <p>09:00</p>
        <p>10:00</p>
        <p>11:00</p>
        <p>12:00</p>
        <p>13:00</p>
        <p>14:00</p>
        <p>15:00</p>
        <p>16:00</p>
        <p>17:00</p>
        <p>18:00</p>
        <p>19:00</p>
        <p>20:00</p>
        <p>21:00</p>
        <p>22:00</p>
      </div>
      <form class="content" action="">
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </form>
    </div>
<!--     <button class='schedule__form-button' type='submit'>Save</button> -->
  </section>
</body>

</html>
