<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Wheely</title>
  <meta name="description" content="Content for a Driving School">
  <meta name="author" content="Diana Moreno">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
  <header>
    <nav role="navigation" class='navbar'>
      <div class="navbar__menu-toggle">
        <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
        <input type='checkbox' class="navbar__checkbox" />
        <span class='navbar__line'></span>
        <span class='navbar__line'></span>
        <span class='navbar__line'></span>
        <h1 class='navbar__title'>Wheely</h1>
        <ul class="navbar__menu">
          <li class='navbar__menu-item'>Home</li>
          <li class='navbar__menu-item'>Booking</li>
          <li class='navbar__menu-item'>Reservations</li>
          <li class='navbar__menu-item'>Progression</li>
          <li class='navbar__menu-item'>Credits</li>
        </ul>
      </div>
    </nav>
    <div class='greeting'>
      <i class="material-icons greeting__rol-icon">directions_car</i>
      <h3 class='greeting__name'>Diana Moreno</h3>
    </div>
    <h3 class='title'>Statistics</h3>
  </header>
  <section class='statistics'>
    <section>
      <h4>Your anual ratio coverage in practices</h4>
      <div class='statistics__period statistics__period--title'>
        <p class='statistics__month'>Period</p>
        <p class='statistics__percentage'>%</p>
        <p class='statistics__absolut'>absolut</p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>Annual</p>
        <p class='statistics__percentage'>78%</p>
        <p>78/100</p>
      </div>
    </section>
    <section>
      <h4>Your ratio coverage month by month</h4>
      <div class='statistics__period'>
        <p class='statistics__month'>January</p>
        <p class='statistics__percentage'>60%</p>
        <p class='statistics__absolut'>90/120</p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>February</p>
        <p class='statistics__percentage'>60%</p>
        <p class='statistics__absolut'>90/120</p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>March</p>
        <p class='statistics__percentage'>60%</p>
        <p class='statistics__absolut'>90/120</p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>April</p>
        <p class='statistics__percentage'>60%</p>
        <p class='statistics__absolut'>90/120</p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>May</p>
        <p class='statistics__percentage'>60%</p>
        <p class='statistics__absolut'>90/120</p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>June</p>
        <p class='statistics__percentage'>60%</p>
        <p class='statistics__absolut'>90/120</p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>July</p>
        <p class='statistics__percentage'>60%</p>
        <p class='statistics__absolut'>90/120</p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>August</p>
        <p class='statistics__percentage'>60%</p>
        <p class='statistics__absolut'>90/120</p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>September</p>
        <p class='statistics__percentage'>60%</p>
        <p class='statistics__absolut'>90/120</p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>October</p>
        <p class='statistics__percentage'></p>
        <p class='statistics__absolut'></p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>November</p>
        <p class='statistics__percentage'></p>
        <p class='statistics__absolut'></p>
      </div>
      <div class='statistics__period'>
        <p class='statistics__month'>December</p>
        <p class='statistics__percentage'></p>
        <p class='statistics__absolut'></p>
      </div>
    </section>
    <div>
    </div>
  </section>
</body>

</html>
